.container {
   height: 100dvh;

   &Wrapper {
      padding: 5rem;
      display: flex;

      &Left {
         display: flex;
         flex-direction: column;

         flex: 2;

         gap: 1rem;
         padding: 0 15rem 0 0;

         & > h1 {
            font-size: 3.37rem;
            font-weight: bold;
         }
         & > p {
            font-size: 1.6rem;
         }

         &Mission,
         &Vision {
            position: relative;

            margin-top: 3rem;
            padding: 0 0 0 3rem;
            border-left: 8px solid #ffd60a;

            & > p:nth-of-type(1) {
               font-size: 0.68rem;
            }

            & > p:nth-of-type(2) {
            }

            & > h2 {
               font-size: 2.25rem;
               line-height: 1rem;

               margin: 0.5rem 0 2.5rem 0;
            }
         }

         &Mission {
            & > img {
               position: absolute;

               top: 1rem;
               right: 1rem;

               width: 9rem;
            }
         }

         &Vision {
            border-left: 8px solid #5b2a86;
         }
      }

      &Right {
         display: flex;
         flex: 2.5;
      }
   }
}
