@use '_mixins' as *;

.container {
   position: relative;

   display: flex;
   flex-direction: column;
   gap: 5rem;

   min-height: 100dvh;
   padding: 5rem;

   overflow: hidden;

   background: #00000004;

   & > img {
      position: absolute;
      inset: 0;
      z-index: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;

      opacity: 4%;
   }

   &Wrapper {
      position: relative;
      z-index: 1;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;

      margin-bottom: 5rem;

      &Products {
         display: flex;
         flex-direction: column;
         align-items: center;

         & > img {
            display: block;

            width: 100%;
            max-width: 20rem;
            height: auto;
         }

         &Infos {
            width: 100%;
            max-width: 20rem;

            margin-top: 2rem;

            & > h5 {
               color: #ff6b6b;
            }

            & > h4 {
               font-weight: bold;
            }

            & > p {
               font-family: var(--font-space);
               color: #0000007c;
            }

            &Footer {
               display: flex;
               justify-content: space-between;

               margin-top: 2rem;

               font-family: var(--font-space);

               &Button {
                  max-width: fit-content;

                  color: #fff;
                  background-color: #ff6b6b;
               }
            }
         }
      }
   }

   &Footer {
      position: relative;
      z-index: 1;

      display: flex;
      justify-content: center;

      width: 100%;

      & > img {
         display: block;

         width: 100%;
         max-width: 71rem;
         height: auto;
      }
   }

   &Newsletter {
      position: relative;
      z-index: 1;

      display: flex;
      justify-content: center;

      width: 100%;

      & > img {
         display: block;

         width: 100%;
         max-width: 71rem;
         height: auto;
      }

      & > input {
         position: absolute;
         top: 5rem;
         right: 16.5rem;

         background-color: #fff;

         width: fit-content;
         height: fit-content;
         min-width: 20rem;
         min-height: 3rem;

         padding: 0.5rem;

         &::placeholder {
            padding: 0.5rem 0.5rem 0.5rem 3rem;
         }
      }

      &Button {
         position: absolute;

         top: 5.5rem;
         right: 20rem;

         width: fit-content;
         height: fit-content;

         background-color: #ff6b6b;
         color: #fff;

         border-radius: 10px;
      }
   }
}

@media (max-width: $desktop) {
   .container {
      padding: 4rem 3rem;
      gap: 4rem;

      &Wrapper {
         grid-template-columns: repeat(3, 1fr);
         gap: 3rem;

         &Products {
            & > img {
               max-width: 18rem;
            }

            &Infos {
               max-width: 18rem;

               &Footer {
                  gap: 1rem;
               }
            }
         }
      }

      &Footer {
         & > img {
            max-width: 60rem;
         }
      }

      &Newsletter {
         & > input {
            right: 6rem;
            top: 4rem;
         }

         &Button {
            right: 7.5rem;
            top: 4.5rem;
         }
      }
   }
}

@media (max-width: $tablet) {
   .container {
      padding: 3rem 2rem;
      gap: 3rem;

      &Wrapper {
         grid-template-columns: repeat(2, 1fr);
         gap: 3rem;
         margin-bottom: 3rem;

         &Products {
            & > img {
               max-width: 18rem;
            }

            &Infos {
               max-width: 18rem;

               &Footer {
                  margin-top: 1.5rem;
               }
            }
         }
      }

      &Footer {
         & > img {
            max-width: 100%;
         }
      }

      &Newsletter {
         & > input {
            top: 50%;
            right: 26%;
            transform: translate(50%, -50%);

            min-width: 16rem;

            &::placeholder {
               padding: 1rem;
            }
         }

         &Button {
            top: 37%;
            right: 15%;
            transform: translateX(50%);
         }
      }
   }
}

@media (max-width: $mobile) {
   .container {
      padding: 2.5rem 1rem;
      gap: 2.5rem;

      &Wrapper {
         grid-template-columns: 1fr;
         gap: 3rem;
         margin-bottom: 1rem;

         &Products {
            align-items: center;

            & > img {
               max-width: 16rem;
            }

            &Infos {
               max-width: 16rem;

               & > h4 {
                  font-size: 1.1rem;
               }

               & > p {
                  font-size: 0.85rem;
               }

               &Footer {
                  align-items: center;
                  margin-top: 1rem;
               }
            }
         }
      }

      &Footer {
         & > img {
            width: 100%;
         }
      }

      &Newsletter {
         display: flex;
         flex-direction: column;
         align-items: center;

         & > img {
            display: block;
            width: 100%;
            height: 7rem;
            object-fit: cover;
            object-position: 0% 50%;
         }

         & > input {
            width: 100%;

            position: static;
            transform: none;

            margin-top: 1rem;
         }

         &Button {
            display: flex;
            justify-self: center;

            position: static;
            transform: none;

            margin-top: 1rem;
         }
      }
   }
}
