:root {
   /*Fontes*/
   --font-grotesk: 'Space Grotesk', sans-serif;
   --font-instrument: 'Instrument Serif', serif;
   --font-space: 'Space Grotesk', sans-serif;

   /*Cores*/
   --primary-color: #ffd60a;

   /*Dimensões*/
   --navbar-height: 6.2rem;
}
