@use '_mixins' as *;

.container {
   position: relative;

   & > img {
      position: absolute;

      top: 0;
      left: -26rem;

      transform: rotate(-55deg);

      opacity: 70%;

      z-index: -1;
   }

   &Wrapper {
      position: relative;

      padding: 4rem 5rem 4rem 10rem;

      & > h1 {
         margin: 0 0 2rem;

         color: #5b2a86;
         font-size: 2.5rem;
      }

      &Collection {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         gap: 1rem;

         &Item {
            display: flex;
            justify-content: center;

            & > img {
               width: 100%;
               height: 100%;

               object-fit: cover;
            }
         }
      }

      &Smile {
         position: absolute;

         top: 26rem;
         right: 0;

         height: 7rem;
      }
   }
}

@media (max-width: $desktop) {
   .container {
      & > img {
         left: -20rem;
      }

      &Wrapper {
         padding: 3rem 3rem;

         &Collection {
            gap: 0.75rem;

            &Item {
               height: 13rem;
               width: auto;
            }
         }
      }

      &WrapperSmile {
         top: 22rem;
         height: 5rem;
      }
   }
}

@media (max-width: $tablet) {
   .container {
      & > img {
         left: -18rem;
      }

      &Wrapper {
         padding: 3rem 2rem;

         & > h1 {
            font-size: 2.25rem;
         }

         &Collection {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            &Item {
               height: 20rem;
               width: auto;
            }
         }
      }

      &WrapperSmile {
         top: auto;
         bottom: 1rem;
         height: 5rem;
      }
   }
}

@media (max-width: $mobile) {
   .container {
      & > img {
         left: -15rem;
      }

      &Wrapper {
         padding: 2.5rem 1rem;

         & > h1 {
            font-size: 2rem;
         }

         &Collection {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;

            &Item {
               height: 20rem;
               width: auto;
            }
         }
      }

      &WrapperSmile {
         display: none;
      }
   }
}
